<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!--    <servlet>
        <servlet-name>ssi</servlet-name>
        <servlet-class>
          org.apache.catalina.ssi.SSIServlet
        </servlet-class>
        <init-param>
          <param-name>buffered</param-name>
          <param-value>1</param-value>
        </init-param>
        <init-param>
          <param-name>debug</param-name>
          <param-value>0</param-value>
        </init-param>
        <init-param>
          <param-name>expires</param-name>
          <param-value>666</param-value>
        </init-param>
        <init-param>
          <param-name>isVirtualWebappRelative</param-name>
          <param-value>0</param-value>
        </init-param>
        <load-on-startup>4</load-on-startup>
    </servlet>-->
    <description>Linked Data Platform for the Internet of Things
        CCSR, University of Surrey 2014</description>
    <display-name>Sense2Web / IoTDiscovery</display-name>
    <context-param>
        <description>username for MySQL access</description>
        <param-name>username_mysql</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <description>password for MySQL access</description>
        <param-name>password_mysql</param-name>
        <param-value>unis2fiware</param-value>
    </context-param>
    <context-param>
        <description>This value reflects the percentage between the number of trained concepts and concepts that have been folded in.
            The lower the value, the more frequent the engine will likely be trained</description>
        <param-name>retrain_threshold</param-name>
        <param-value>0.1</param-value>
    </context-param>
    <context-param>
        <description>minimum number of descriptions in database for training</description>
        <param-name>training_set_min</param-name>
        <param-value>10</param-value>
    </context-param>
    <filter>
        <filter-name>ssi</filter-name>
        <filter-class>
            org.apache.catalina.ssi.SSIFilter
        </filter-class>
        <init-param>
            <param-name>contentType</param-name>
            <param-value>text/html</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>expires</param-name>
            <param-value>666</param-value>
        </init-param>
        <init-param>
            <param-name>isVirtualWebappRelative</param-name>
            <param-value>0</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>ssi</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
    <mime-mapping>
        <extension>shtml</extension>
        <mime-type>text/x-server-parsed-html</mime-type>
    </mime-mapping>
    <listener>
        <description>This listener will train the prob search engine at startup</description>
        <listener-class>uk.ac.surrey.ee.ccsr.s2w.probengine.servlet.ETContextListener</listener-class>
    </listener>
    <!--    <listener>
        <description>This listener will start the CoAP server</description>
        <listener-class>uk.ac.surrey.ee.ccsr.s2w.coap.CoapServerCL</listener-class>
    </listener>-->
    <servlet>
        <servlet-name>DBPediaTagSuggestion</servlet-name>
        <servlet-class>uk.ac.surrey.ee.ccsr.s2w.linkeddata.DBPediaTagSuggestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LocalQuery</servlet-name>
        <servlet-class>uk.ac.surrey.ee.ccsr.s2w.model.iota.servlet.LocalQueryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OverlayMapsDemo</servlet-name>
        <servlet-class>uk.ac.surrey.ee.ccsr.s2w.webapp.map.OverlayMapsDemoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublishObjectFile</servlet-name>
        <servlet-class>uk.ac.surrey.ee.ccsr.s2w.model.iota.servlet.PublishObjectFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestletServlet</servlet-name>
        <servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
        <init-param>
            <!-- Application class name -->
            <param-name>org.restlet.application</param-name>
            <param-value>uk.ac.surrey.ee.ccsr.s2w.model.iota.restlet.RestReqApplication</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>UpdateDescriptionFile</servlet-name>
        <servlet-class>uk.ac.surrey.ee.ccsr.s2w.model.iota.servlet.UpdateDescriptionFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IotaRegisterWebFormServlet</servlet-name>
        <servlet-class>uk.ac.surrey.ee.ccsr.s2w.model.iota.servlet.IotaRegisterWebFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IotaUpdateWebFormServlet</servlet-name>
        <servlet-class>uk.ac.surrey.ee.ccsr.s2w.model.iota.servlet.IotaUpdateWebFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IotaTemplatesServlet</servlet-name>
        <servlet-class>uk.ac.surrey.ee.ccsr.s2w.model.iota.servlet.IotaTemplatesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IotaDiscoverWebFormServlet</servlet-name>
        <servlet-class>uk.ac.surrey.ee.ccsr.s2w.model.iota.servlet.IotaDiscoverWebFormServlet</servlet-class>
    </servlet>
    <!--    <servlet>
        <servlet-name>CoapServerServlet</servlet-name>
        <servlet-class>uk.ac.surrey.ee.ccsr.s2w.coap.CoapServerServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>-->
    <servlet>
        <description>Enable directory listing</description>
        <servlet-name>DirectoryListing</servlet-name>
        <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
        <init-param>
            <description>**make sure the link end with "/"</description>
            <param-name>listings</param-name>
            <param-value>true</param-value>
        </init-param>
    <load-on-startup>1</load-on-startup>I
    </servlet>
    <servlet-mapping>
        <servlet-name>DBPediaTagSuggestion</servlet-name>
        <url-pattern>/DBPediaTagSuggestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LocalQuery</servlet-name>
        <url-pattern>/LocalQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OverlayMapsDemo</servlet-name>
        <url-pattern>/OverlayMapsDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublishObjectFile</servlet-name>
        <url-pattern>/PublishObjectFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDescriptionFile</servlet-name>
        <url-pattern>/UpdateDescriptionFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestletServlet</servlet-name>
        <url-pattern>/repository/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IotaUpdateWebFormServlet</servlet-name>
        <url-pattern>/IotaUpdateWebForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IotaRegisterWebFormServlet</servlet-name>
        <url-pattern>/IotaRegisterWebForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IotaTemplatesServlet</servlet-name>
        <url-pattern>/IotaTemplates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IotaDiscoverWebFormServlet</servlet-name>
        <url-pattern>/IotaDiscoverWebForm</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>CoapServerServlet</servlet-name>
        <url-pattern>/CoapServerServlet</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>DirectoryListing</servlet-name>
        <url-pattern>/share/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.html</welcome-file>
    </welcome-file-list>
</web-app>
